.titulo_servicio{
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 47px;
	color: #A70000;
}

.contenido_servicio{
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 18px;
	color: #595959;
}

.nombre_servicio p{
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 18px;
	color: #A70000;
	font-weight: bold;
}

.texto_servicio p{
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 17px;
	color: #7F7F7F;

}

.formulario_servicios{
	background-color: #FAFAFA;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 2px solid #A70000!important;
}